body {
    background-image: url("../images/overlay.jpg");
    background-color: #cccccc;
    background-size: auto;
   }

.title {
    margin: auto;
    text-align: center;
    font-size: 60px;
}

.button {
    display:block;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;

    background-color: #99daff;
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .center {
    position: absolute;
    left: 43%;
    top: 30%;
  }